@page "/"

@if (_isClipboardApiSupported)
{
	<p>@_guid</p>
	<button @onclick="@GenerateGuid">Generate</button>
	<button @onclick="@WriteGuidToClipboardAsync">Copy</button>
}
else
{
	<p>Clipboard API not supported... Upgrade your browser or application environment.</p>
}

@code
{
	private Guid _guid = Guid.NewGuid();
	private IJSObjectReference? _clipboardJsModule;
	private bool _isClipboardApiSupported;

	[Inject]
    IJSRuntime Js { get; set; } = null!;

    protected override async Task OnInitializedAsync()
	{
		_clipboardJsModule = await Js.InvokeAsync<IJSObjectReference>("import", "./js/clipboard.js");
		_isClipboardApiSupported = await _clipboardJsModule!.InvokeAsync<bool>("isClipboardApiSupported");
	}

	protected void GenerateGuid() => _guid = Guid.NewGuid();
	protected async Task WriteGuidToClipboardAsync() => await _clipboardJsModule!.InvokeVoidAsync("writeToClipboard", _guid);
}