@page "/"

@if (_isClipboardApiSupported)
{
	<p>@_guid</p>
	<button @onclick="@GenerateGuid">Generate</button>
	<button @onclick="@WriteGuidToClipboardAsync">Copy</button>
}
else
{
	<p>@_clipboardApiNotSupportedMessage</p>
}

@code
{
	private Guid _guid = Guid.NewGuid();
	private IJSObjectReference? _clipboardJsModule;
	private bool _isClipboardApiSupported;
    private string? _clipboardApiNotSupportedMessage;

	[Inject]
    private IJSRuntime Js { get; set; } = null!;

    protected override async Task OnInitializedAsync()
	{
		_clipboardJsModule = await Js.InvokeAsync<IJSObjectReference>("import", "./js/clipboard.js");
		_isClipboardApiSupported = await _clipboardJsModule!.InvokeAsync<bool>("isClipboardApiSupported");
        if (!_isClipboardApiSupported)
        {
            _clipboardApiNotSupportedMessage = "Clipboard API not supported... Upgrade your browser.";
        }
        
	}

	protected void GenerateGuid() => _guid = Guid.NewGuid();
	protected async Task WriteGuidToClipboardAsync() => await _clipboardJsModule!.InvokeVoidAsync("writeToClipboard", _guid);
}