@page "/"

@if (_isClipboardApiSupported)
{
	<p @onclick=@GenerateGuid onselectstart="return false">@_guidDisplayText</p>
}
else
{
	<p>@_clipboardApiNotSupportedDisplayText</p>
}

@code
{
    private bool _isClipboardApiSupported;
    private string? _clipboardApiNotSupportedDisplayText;
	private string? _guidDisplayText;
	private IJSObjectReference? _clipboardJsModule;

	[Inject]
	private IJSRuntime Js { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		_clipboardJsModule = await Js.InvokeAsync<IJSObjectReference>("import", "./js/clipboard.js");
		_isClipboardApiSupported = await _clipboardJsModule!.InvokeAsync<bool>("isClipboardApiSupported");

		if (_isClipboardApiSupported)
		{
			_guidDisplayText = "Tap or click to generate and copy";
		}
		else
		{
			_clipboardApiNotSupportedDisplayText = "Clipboard API not supported... Upgrade your browser.";
		}
	}

	protected async Task GenerateGuid()
	{
		_guidDisplayText = Guid.NewGuid().ToString();
		await _clipboardJsModule!.InvokeVoidAsync("writeToClipboard", _guidDisplayText);
	}
}