@page "/"

<section>
    <p>@_guid</p>
    <button @onclick="GenerateNewGuid">Generate</button>
</section>

@code 
{
    private Guid _guid = Guid.NewGuid();
    protected void GenerateNewGuid() => _guid = Guid.NewGuid();
}